# OS
.DS_Store

# IDE
.idea
.idea/
.sisyphus/
.sisyphus

# Environment
.env
.envrc

# Database
marjong.db
marjong.db-journal

# Backend
backend/mahjong-backend
backend/mahjong-gateway
backend/mahjong-prodsupervisor
backend/marjong.db
backend/db_config.json
backend/media/

# Majsoul demo local secrets
majsoul_paipu_demo/config.yaml

# Frontend
frontend/node_modules/
frontend/dist/

# Node (proxy)
node_modules/
.make-pids/
.make-pids/*

# Cursor
.cursorignore
.cursorindexingignore


mortal-server/mortal_model.pth